*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%;
  width: 100%; */
}
body{
  position: relative;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: black;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
